*.mp4
*.jpg
*.pickle
__pycache__/
saved_model_MSCADC/
C3DAVG_model/
c3davg_140_saved/
c3davg_140_saved_attn/
c3davg_140_saved_s3d/
c3davg_140_saved_s3d_attn/
mscadc_140_saved/
c3davg_8_gru_attn_140_saved/
*.pt
c3davg_8_lstm_attn_140_saved/
